
button {
    width: 160px;
    height: 60px;
    border: 3px solid transparent;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px rgba(200,200,200,.3) inset;
    background:
    linear-gradient(var(--body-bg), var(--body-bg)) padding-box,
    radial-gradient(
        hsl(60 80% 80%),hsl(90 80% 70%), transparent 60%)
        no-repeat
        130px -15px /
        var(--neonw) var(--neonh),
    linear-gradient(black, black) border-box;
    animation: light 1s linear infinite;
}
@keyframes light {
    0% {
        background-position: 125px -15px;
    }
    33% {
        background-position: -25px -15px;
    }
    50% {
        background-position: -25px 45px;
    }
    83% {
        background-position: 125px 45px;
    }
    100% {
        background-position: 125px -15px;
    }
}